################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sklad/bin
/Sklad/obj/Debug
/Sklad/obj/Release
